<%= provide(:title, "About") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="mid-container">
        <div class="title padding-bottom">
          About
        </div>

        <div class="padding-bottom border-bottom">

          <img class="profile-image" srcset="https://i.imgur.com/HiN11gW.jpg" width="100%" height="auto" />
        </div>

      </div>

      <div class="form-container">
        <div class="padding-vertical">

          <div class="padding-bottom-mini">
            Sunburst Peak was created by Alex Heil out of pure boredom... WRONG!
          </div>

          <div class="padding-vertical-mini">
            I actually made this site out of complete annoyance that I couldn't keep all of the things I was supposed to be doing under one roof.
          </div>

          <div class="padding-vertical-mini">
            Of course, I did zero Googling to see if something like this exists and got straight to work.
          </div>

          <div class="padding-vertical-mini">
            I finished pretty quickly.
          </div>

          <div class="padding-vertical-mini">
            But did I think the site would ever get this popular?! No! I mean seriously, 10 pageviews a day?! It's hard to keep up with.
          </div>

          <div class="padding-vertical-mini">
            Now you can keep all of your events, future and past, in one location, as well as see exactly what is going on in a ton of cities across the world.
          </div>

          <div class="padding-vertical-mini post-title">
            No events happening in your city today?
          </div>

          <div class="padding-vertical-mini">
            No problem!
          </div>

          <div class="padding-vertical-mini">
            There's always something to do! Just check the Things To Do tab towards the bottom of each city page. You can even sort by free!
          </div>

          <div class="padding-vertical-mini post-title">
            I hope you enjoy this site as much as I do!
          </div>

        </div>
      </div>

    </div>
  </div>
</div>