<%= provide(:title, "About") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="mid-container">
        <div class="title padding-bottom">
          About
        </div>

        <div class="padding-bottom border-bottom">

          <img class="profile-image" srcset="https://technical.ly/philly/wp-content/uploads/sites/2/2015/06/lamps-0123-web.jpg" width="100%" height="auto" />
        </div>

      </div>

      <div class="form-container">
        <div class="padding-vertical">

          <div class="padding-bottom-mini">
            The story starts 100 years ago... just kidding. This all takes place 30 days ago.
          </div>

          <div class="padding-vertical-mini post-title">
            I have ultimate high ground.
          </div>

          <div class="padding-vertical-mini">
            
          </div>

          <div class="padding-vertical-mini">
            
          </div>

          <div class="padding-vertical-mini">
            
          </div>

        </div>
      </div>

    </div>
  </div>
</div>