<%= provide(:title, "FAQ") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="mid-container">
        <div class="title padding-bottom">
          FAQ
        </div>

        <div class="padding-bottom border-bottom">

          <img class="profile-image" srcset="https://i.imgur.com/A4WyJOF.jpg" width="100%" height="auto" />
        </div>

      </div>

      <div class="form-container">
        <div class="padding-vertical">

          <div class="padding-bottom-small">
            Have questions? Well, I have answers! Let's go!
          </div>

          <div class="padding-vertical-small post-title">
            I'm bored and there's nothing going on in my city today. What should I do?
          </div>

          <div class="padding-vertical-small">
            Maybe get a life?
          </div>

          <div class="padding-vertical-small">
            Just kidding. On your city's page you can discover a bunch of things to do towards the bottom of the page. You can either choose everything to do in your city, or just the free things.
          </div>

          <div class="padding-vertical-small">
            That should keep you occupied for a while!
          </div>

        </div>
      </div>

    </div>
  </div>
</div>