<div class="background"></div>

<div class="wrapper">
  <div class="container">

    <div class="home-center-height">
      <div class="home-title">
        <div class="center home-container">
          <span class="inline-block">
            What's going on in...
          </span>
          <select onchange="window.location=this.value">
            <option>your favorite city this month?</option>
            <% @cities.each do |c| %> 
              <option value="cities/<%= c.slug %>"><%= c.title %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    
  </div>
</div>