<div class="background"></div>

<%= select_tag 'city_id', options_from_collection_for_select(@cities, "id", "title") %>

<script>
    $(function(){
      $('#city_id').bind('change', function () {
         var url = "/cities/" + $(this).val()
          if (url) {
              window.location.replace(url);
          }
          return false;
      });
    });
</script>
