<div class="background"></div>

<div class="wrapper">
  <div class="container">
    

    <div class="home-center-height">
      <div class="padding-bottom-mini home-post-title center">
        Every event. Everywhere.
      </div>
      <div class="flex home-title">
        <div class="two-column-mobile center">
          What's going on in...
        </div>
        <div class="two-column-mobile center home-container">
          <select onchange="window.location=this.value">
            <option>your city?</option>
            <% @cities.each do |c| %> 
              <option value="cities/<%= c.slug %>"><%= c.title %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>


  </div>
</div>
