<div class="background"></div>

<div class="wrapper">
  <div class="container hi">
    
    <%= select_tag 'city_id', options_from_collection_for_select(@cities, "slug", "title") %>

    <script>
        $(function(){
          $('#city_id').bind('change', function () {
             var url = "/cities/" + $(this).val()
              if (url) {
                  window.location.replace(url);
              }
              return false;
          });
        });
    </script>
  
  </div>
</div>