<%= provide(:title, "Privacy Policy") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="mid-container">
        <div class="title padding-bottom">
          Privacy Policy
        </div>

        <div class="padding-bottom border-bottom">

          <img class="profile-image" srcset="https://i.imgur.com/vMvsnBq.jpg" width="100%" height="auto" />
        </div>

      </div>

      <div class="form-container">
        <div class="padding-vertical">

          <div class="padding-bottom-small">
            <i>Effective Date: August, 17th 2018</i>
          </div>

          <div class="padding-vertical-small">
            I, Alex Heil, at SunburstPeak.com (possibly later referred to as “Site”, “Website”, “I”, “Company”) believe in privacy. I mean who doesn’t? The NSA, that’s who. Ohhhhh, burn.
          </div>

          <div class="padding-vertical-small">
            The following sentences and paragraphs show just what SunburstPeak.com does in regards to information gathering and dissemination practices. By accessing the SunburstPeak.com website and domain name, mobile applications, and any other linked pages, features, content, or application services offered from time to time you acknowledge that you accept the practices and policies outlined in this Privacy Policy.
          </div>

          <div class="padding-vertical-small">
            Boilerplate, boilerplate.
          </div>

          <div class="padding-vertical-small post-title">
            SunburstPeak.com collects your personal information
          </div>

          <div class="padding-vertical-small">
            Gathering your personal information such as your email, username, password, IP address, browser information, and any other information you provide associated with creating a user account. If that makes you uncomfortable in any way, please do not provide said information on this Site. However, should you choose to go down that path you may not have access to some of the features on SunburstPeak.com. SunburstPeak.com uses this information to allow you to fully use the features on this site such as creating content, interacting with other users, etc…
          </div>

          <div class="padding-vertical-small">
            Oh, but don’t worry. Your personal information will never get bartered, rented, or sold to any third party companies like some crappy repossessed car at an auction.
          </div>

          <div class="padding-vertical-small">
            Third parties that have access to this Site, such as analytics providers (Google analytics, gotta see those stats, baby), collect and store information automatically whenever you visit one of the pages on this Site, or use any of the services this Site provides. SunburstPeak.com automatically sees, collects, and records information on our server logs such as IP address, cookie information, and the page you have requested.
          </div>

          <div class="padding-vertical-small">
            Speaking of third parties, we use third party advertising (Google AdSense), and they may be scooping some information about you (not your name, address, email address, or telephone number) when you visit our pages in order to better provide you with advertisements on this Site or other sites about goods and services that may be of interest to you instead of showing you stuff you hate like slow cars and Barbie Dolls, blah, blah, blah.
          </div>

          <div class="padding-vertical-small">
            SunburstPeak.com will never ask for your credit card information, bank account information, or any private financial information in general, so please never input any of that top secret stuff into any forms on this Site.
          </div>

          <div class="padding-vertical-small post-title">
            Does SunburstPeak.com use <strike>chocolate chip</strike> cookies?
          </div>

          <div class="padding-vertical-small">
            Hell yeah we do!
          </div>

          <div class="padding-vertical-small">
            First of all, third party advertisers (Google AdSense) will place or recognize a cookie on your browser.
          </div>

          <div class="padding-vertical-small">
            Second of all, SunburstPeak.com will place or recognize a cookie on your browser so that this Site can recognize your browser. The cookies SunburstPeak.com uses do not collect your information. In reality, the only time SunburstPeak.com uses cookies is when you check the “Remember Me” box when signing into the Site. You can choose to turn cookies off in your browser settings, but I recommend keeping them on if you don’t want to keep logging back into the site every 10 seconds.
          </div>

          <div class="padding-vertical-small post-title">
            SunburstPeak.com links to external sites!
          </div>

          <div class="padding-vertical-small">
            Yeah, SunburstPeak.com links to external sites and I’ll tell you which ones right here.
          </div>

          <div class="padding-vertical-small">
            With using Google AdSense as one of the advertisers on the Site, there are many different external links that they may be linking to. SunburstPeak.com is not responsible for the privacy on any site Google AdSense links to.
          </div>

          <div class="padding-vertical-small">
            SunburstPeak.com links to Amazon.com in order for it’s users to be able to find the tracks they see on this Site. SunburstPeak.com is not responsible for anything privacy related on Amazon.com or anything they link to, but they are Amazon, so I’m sure they have you covered.
          </div>

          <div class="padding-vertical-small post-title">
            Stuff you post on SunburstPeak.com may become public!
          </div>

          <div class="padding-vertical-small">
            That includes the creation of content on SunburstPeak.com.
          </div>

          <div class="padding-vertical-small">
            But I’m mostly looking at the folks who post comments on the lyrics posted on this Site. Just be aware that whatever you enter in the comment form can be seen by anyone who accesses the Site. Be not stupid and do not post any personal information that you wouldn’t share with your grandmother there.
          </div>

          <div class="padding-vertical-small post-title">
            Please read these next few paragraphs if you are a child or if you are not visiting from the United States of America. Thank you.
          </div>

          <div class="padding-vertical-small">
            SunburstPeak.com does not knowingly collect, use, maintain, gather, preserve, assemble, or retain any personal information from anyone under the age of 13. No part of this Site is for anyone under the age of 13. It’s like when Virgil and Dante enter the gates of Hell. Lasciate ogne speranza, voi ch'intrate.
          </div>

          <div class="padding-vertical-small">
            If you are visiting this Site from a country other than the United States of America with different data collection and privacy laws than the data collection and privacy laws of the United States of America, please be aware that you are transferring your data to the United States of America. By providing your information you consent to any transfer and processing in accordance with this Privacy Policy.
          </div>

          <div class="padding-vertical-small post-title">
            When this Site’s Privacy Policy changes…
          </div>

          <div class="padding-vertical-small">
            …the date at the top of this page will change. Please check back regularly in order to be in tip-top-SunburstPeak.com-Privacy-Policy shape. Anyone who used this Site prior to the date at the top of this page is subject to the laws and guidelines at the time the information was collected.
          </div>

          <div class="padding-vertical-small">
            Your continued use of this Site means that you agree and fully understand what’s going on in the revised, updated version of the Privacy Policy.
          </div>

          <div class="padding-vertical-small">
            Oh, and guess what?
          </div>

          <div class="padding-vertical-small">
            SunburstPeak.com reserves the right to change this Privacy Policy at any time. At any minute, any day, any second, any hour this policy can be changed by SunburstPeak.com.
          </div>

          <div class="padding-vertical-small">
            No whining.
          </div>

        </div>
      </div>

    </div>
  </div>
</div>