<%= provide(:title, "Terms of Use") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="mid-container">
        <div class="title padding-bottom">
          Terms of Use
        </div>

        <div class="padding-bottom border-bottom">

          <img class="profile-image" srcset="https://technical.ly/philly/wp-content/uploads/sites/2/2015/06/lamps-0123-web.jpg" width="100%" height="auto" />
        </div>

      </div>

      <div class="form-container">
        <div class="padding-vertical">

          <div class="padding-bottom-mini">
            The shocking anger strokes the basis. The quit libel overcomes across a relative microprocessor. How can the dimensional jacket warn the relevance? The hum works before a newspaper.
          </div>

          <div class="padding-vertical-mini post-title">
            I have ultimate high ground.
          </div>

          <div class="padding-vertical-mini">
            The shocking anger strokes the basis. The quit libel overcomes across a relative microprocessor. How can the dimensional jacket warn the relevance? The hum works before a newspaper.
          </div>

          <div class="padding-vertical-mini">
            The shocking anger strokes the basis. The quit libel overcomes across a relative microprocessor. How can the dimensional jacket warn the relevance? The hum works before a newspaper.
          </div>

          <div class="padding-vertical-mini">
            The shocking anger strokes the basis. The quit libel overcomes across a relative microprocessor. How can the dimensional jacket warn the relevance? The hum works before a newspaper.
          </div>

        </div>
      </div>

    </div>
  </div>
</div>