<%= provide(:title, "Updates") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="mid-container">
        <div class="title padding-bottom">
          Updates
        </div>

        <div class="padding-bottom border-bottom">

          <img class="profile-image" srcset="https://i.imgur.com/cAdncvD.jpg" width="100%" height="auto" />
        </div>

      </div>

      <div class="form-container">
        <div class="padding-vertical">

          <div class="padding-bottom-small">
            Presenting to you every update that has happened to this site since its birth.
          </div>



          <div class="padding-vertical-small post-title">
            08.26.2018
          </div>

          <div class="padding-vertical-small">
            <p>- Added a custom domain for Sunburst Peak! <a href="https://www.sunburstpeak.com">Check it out!</a></p>
            <p>- Also added a SSL certificate which means Sunburst Peak is now crazy secure.</p>
            <p>- Fixed a bug that made events from other cities show up on a certain city's feed.</p>
          </div>

          <div class="padding-vertical-small post-title">
            08.22.2018
          </div>

          <div class="padding-vertical-small">
            <p>- Fixed an issue with font size on the home page on mobile browsers because the text had been hiding offscreen.</p>
            <p>- Space between paragraphs made larger as they were too smooshed together.</p>
            <p>- Added Google Analytics because I forgot to before beta launch. Oops!</p>
            <p>- Put date on share cards so you don't even have to visit the site to see when an event is.</p>
          </div>

          <div class="padding-vertical-small post-title">
            08.21.2018
          </div>

          <div class="padding-vertical-small">
            <p>- Sunburst Peak has officially launched (a beta)!</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>