<%= provide(:title, "Updates") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical">

      <div class="mid-container">
        <div class="title padding-bottom">
          Updates
        </div>

        <div class="padding-bottom border-bottom">

          <img class="profile-image" srcset="https://i.imgur.com/cAdncvD.jpg" width="100%" height="auto" />
        </div>

      </div>

      <div class="form-container">
        <div class="padding-vertical">

          <div class="padding-bottom-mini">
            Presenting to you every update that has happened to this site since its birth.
          </div>

          <div class="padding-vertical-mini post-title">
            08.17.2018
          </div>

          <div class="padding-vertical-mini">
            Sunburst Peak has officially launched!
          </div>


        </div>
      </div>

    </div>
  </div>
</div>