<%= month_calendar events: @notes do |day, notes| %>    
  <%= content_tag :div, class: "calendar-day", data: {date: day} do %>      
    <%= day %>
    <% if notes.any? %>
      <div class="notes">
        <%= pluralize(notes.count, "Note") %>
      </div>
    <% end %>
  <% end %>  
<% end %> 