<% if user_signed_in? && current_user.liked?(@thing) %>
  <div class="padding-bottom-mini">
    <%= link_to "Unlike", city_thing_like_path(@city, @thing, current_user.like_id(@thing)), method: :delete, remote: true, class: "submit-button" %>
  </div>
<% elsif user_signed_in? %>
  <div class="padding-bottom-mini">
    <%= link_to "Like", city_thing_likes_path(@city, @thing), :method => :post, remote: true, class: "submit-button" %>
  </div>
<% else %>
  <%= link_to(sign_in_path) do %>
    <div class="submit-button margin-bottom-mini">
      Like
    </div>
  <% end %>
<% end %>