<%= form_for(@city, url: citiess_path) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "text-field" %>
  </div>

  <%= f.submit "Create city", data: { disable_with: 'Creating...' }, class: "submit-button" %>
  <% end %>