/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

$main: #DF803C; /* OCEAN GREEN */
$light: #FFD3B5; /* SPRING RAIN */
$dark: #CE414F; /* HOKEY POKEY */
$green: #47B975; /* OCEAN GREEN */
$border: #BEC8CE; /* LOBLOLLY */
$red: #F44336; /* POMEGRANATE */
$yellow: #ff9800; /* PIZAZZ */
$black: #2F1A0C; /* GREEN KELP */
$white: #F9F9F9; /* FAFAFA DESERT STORM */
$grey: #EEEEEE; /* GALLERY */
$fancy: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$radius: 6px;
$shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$large: 2em;
$med: 1.5em;
$smed: 1.25em; 
$small: 0.85em;
$letterspacer: .125em;

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0px;
  font-family: $fancy;
  font-weight: 400;
  background: $white;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $light;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

.hidden {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.mid-container {
  width: 70%;
  margin: 0 auto; 
}

.title {
  @include transition;
  color: $black;
  font-weight: 300;
  line-height: 1.25em;
  letter-spacing: $letterspacer;
  text-transform: uppercase;
  font-size: $large;
}

.title-lower {
  @include transition;
  color: $black;
  font-weight: 300;
  letter-spacing: $letterspacer;
  font-size: $large;
}

.post-title {
  @include transition;
  color: $black;
  font-weight: 300;
  font-size: $med;
  line-height: 1em;
}

.bold {
  font-weight: 600;
}

.small-text {
  font-size: $small;
}

.dark {
  color: $border;
}

.background {
  background: url('http://paperlief.com/images/sunset-over-mountains-and-water-wallpaper-3.jpg') no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  opacity: .25;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: .125em;
}

/* ***************** CALENDAR ******************* */

.simple-calendar th {
  padding: 2vh 0;
  border-bottom: 0px solid $border;
  border-collapse: collapse;
  border-left: 0px solid $border;
  border-right: 0px solid $border;
  border-top: 0px none #333333;
  box-sizing: border-box;
  text-align: left;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.simple-calendar table {
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #dddddd;
  border-collapse: collapse;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

.simple-calendar td {
  padding: 2vh 1vw;
  vertical-align: top;
  width: 14%;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
}

.white {
  background: white;
}

.calendar-heading {
  @include transition;
  color: $black;
  border-radius: $radius;
  font-weight: 300;
  letter-spacing: $letterspacer;
  text-transform: uppercase;
  font-size: 2em;
  padding: 5vh 0;
}

.simple-calendar .today {
  background: $light;
}

.simple-calendar .next-month {
  background: $grey;
}

.simple-calendar .prev-month {
  background: $grey;
}

.day {
  @include transition;
  color: $black;
  font-weight: 300;
  letter-spacing: $letterspacer;
  text-transform: uppercase;
  font-size: $smed;
}

.calendar-day {
  color: $black;
  .events {
    color: $main;
  }
}

/* ********************** HEADER ***************** */

.header-container {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  a {
    color: $black;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  .site-title {
    @include transition;
    display: inline-block;
    width: 24%;
    color: $white;
    font-weight: 400;
    letter-spacing: $letterspacer;
    &:hover {
      text-decoration: none;
      color: $light;
    }
  }
  ul {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    li {
      width: 25%;
      display: inline-block;
      position: relative;
      text-align: center;
    }
  }
}

.nav-links {
  @include transition;
  cursor: pointer;
  color: $white;
  padding: 3vh 1vw;
  font-weight: 400;
  letter-spacing: $letterspacer;
  &:hover {
    color: $main;
  }
}

/* ******************* FOOTER ******************* */

.full-footer-container {
  width: 100%;
  clear: both;
  padding-top: 15vh;
}

.footer {
  font-size: .75em;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  .nav-links {
    @include transition;
    color: $black;
    padding: 0;
    &:hover {
      @include transition;
      color: $main;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.dark-background {
  background: $black;
}

.home-footer {
  font-size: .75em;
  width: 100%;
  .nav-links {
    @include transition;
    color: $white;
    padding: 0;
    &:hover {
      color: $light;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 1vh 0;
      &:first-child {
        margin: 0 0 1vh 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $black;
  padding-bottom: 2vh;
}

.home-footer-disclaimer {
  font-size: .75em;
  text-align: center;
  color: $white;
}

/* ********************** SPACING ***************** */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.padding-horizontal {
  padding-right: 2vw;
  padding-left: 2vw;
}

.padding-vertical {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.padding-vertical-small {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.padding-bottom {
  padding-bottom: 5vh;
}

.padding-bottom-mini {
  padding-bottom: 1vh;
}

.padding-top {
  padding-top: 5vh;
}

.padding-top-mini {
  padding-top: 1vh;
}

.margin-bottom-mini {
  margin-bottom: 1vh;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

.border-top {
  border-top: 1px solid $border;
}

.center {
  text-align: center;
}

.center-height {
  line-height: 18vh;
  height: 18vh;
}

.fifty {
  margin: 0;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.twenty-two {
  margin: 0;
  width: 22%;
  display: inline-block;
  vertical-align: top;
}

.border-right {
  @include transition;
  border-right: 2px solid $border;
  &:hover {
    border-right: 2px solid $black;
  }
}

.border-sides {
  @include transition;
  border-right: 3px solid $border;
  border-left: 3px solid $border;
  &:hover {
    border-right: 3px solid $black;
    border-left: 3px solid $black;
  }
}

.thumbnail-image {
  width: 100%;
  height: 18vh;
  object-fit: cover;
  display: block;
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  &:hover {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
  }
}

.profile-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
  -webkit-backface-visibility: hidden;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  &:hover {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
  }
}

.post-content {
  word-break: break-word;
  white-space: pre-line;
  margin-top: -3vh;
}

/* ****************** FORMS ****************** */

@mixin buttons {
  @include transition;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: $fancy;
  text-transform: uppercase;
  letter-spacing: $letterspacer;
  padding: 1vh 1vw;
  background: transparent;
  border: 2px solid $main;
  color: $main;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $main;
    color: $white;
  }
}

.submit-button {
  @include buttons;
}

textarea:focus, input:focus {
  outline: none;
}

label {
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: $letterspacer;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

::placeholder {
    color: $border;
  }

@mixin fields {
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  font-family: $fancy;
  letter-spacing: .5px;
}

.StripeElement {
  @include fields;
  padding: 1vh 1vw;
  background: $grey;
  display: block;
}

.hi {
  select {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right transparent;
  }
}

select {
  @include fields;
  text-indent: 1vw;
  background: $grey;
  height: 4vh;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right $grey;
  -webkit-appearance: none;
  background-position-x: 98%;
  border-radius: 0px;
}

.text-field {
  @include fields;
  padding: 1vh 1vw;
  background: $grey;
}

.text-area {
  @include fields;
  min-width: 100%;
  max-width: 100%;
  min-height: 15vh;
  max-height: 30vh;
  height: 15vh;
  padding: 1vh 1vw;
  background: $grey;
  display: block;
}

.field {
  margin: 0 0 2vh 0;
}

.field-two-column {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.field-three-column {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  select { 
    background-position-x: 94%;
  }
}

.padding-field-match {
  padding: .51vh 1vw;
}

.form-container {
  width: 40%;
  margin: 0 auto;
  a {
    color: $main;
    &:hover {
      color: $light;
    }
  }
  .main-color {
    a {
      color: $main;
      &:hover {
        color: $dark;
      }
    }
  }
  .link-color {
    a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}

/* **************** PAGES ******************* */

.facebook-button {
  @include buttons;
  color: #3b5998;
  border: 2px solid #3b5998;
  &:hover {
    background: #3b5998;
    color: $white;
  }
}

.twitter-button {
  @include buttons;
  color: #55acee;
  border: 2px solid #55acee;
  &:hover {
    background: #55acee;
    color: $white;
  }
}

.reddit-button {
  @include buttons;
  color: #FF4500;
  border: 2px solid #ff4500;
  &:hover {
    background: #ff4500;
    color: $white;
  }
}

.two-column {
  margin: 0;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.sixteen {
  margin: 0;
  width: 16%;
  display: inline-block;
  vertical-align: top;
}

.thirty-two {
  margin: 0;
  width: 32%;
  display: inline-block;
  vertical-align: top;
}

.black-box {
  width: 100%;
  height: 100px;
  background: black;
}

.checked-tab {
  @include transition;
  box-sizing: border-box;
  background: $main;
  color: $white;
  padding: 1vh 1vw;
  text-transform: uppercase;
  width: 49%;
  text-align: center;
  cursor: pointer;
  font-family: $fancy;
  border: 1px solid $main;
  -webkit-font-smoothing: unset;
}

.unchecked-tab {
  box-sizing: border-box;
  @include transition;
  background: $grey;
  color: $black;
  padding: 1vh 1vw;
  text-transform: uppercase;
  width: 49%;
  text-align: center;
  cursor: pointer;
  font-family: $fancy;
  border: 1px solid transparent;
  -webkit-font-smoothing: unset;
  &:hover {
    background: $grey;
    border: 1px solid $grey;
  }
}

/* ******************* MEDIA QUERIES *************** */

@media screen and (max-width: 1024px) {

  .form-container {
    width: 100%;
  }

}