/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

$main: #47B975; /* OCEAN GREEN */
$light: #A4C2A7; /* SPRING RAIN */
$dark: #C8A223; /* HOKEY POKEY */
$green: #47B975; /* OCEAN GREEN */
$border: #BEC8CE; /* LOBLOLLY */
$red: #F44336; /* POMEGRANATE */
$yellow: #ff9800; /* PIZAZZ */
$black: #3f4c47; /* GREEN KELP */
$white: #FFFFFF; /* FAFAFA DESERT STORM */
$grey: #EEEEEE; /* GALLERY */
$fancy: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$radius: 6px;
$shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$shadow-lite: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

@mixin transition {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

@mixin textLabels {
  font-size: .75em;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0px;
  font-family: $fancy;
  font-weight: 400;
  background: $white;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition;
  color: $main;
  text-decoration: none;
  &:hover {
    color: $dark;
  }
}

::selection {
  color: $white;
  background: $main;
}

::-moz-selection {
  color: $white;
  background: $main;
}

.hidden {
  display: none;
}

.calendar-day {
  color: $black;
  .events {
    color: yellow;
  }
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.title {
  @include transition;
  cursor: pointer;
  color: $black;
  margin: 2vh 0;
  padding: 3vh 1vw;
  border-radius: $radius;
  font-weight: 400;
  letter-spacing: .125em;
  text-transform: uppercase;
}

/* ***************** CALENDAR ******************* */

.simple-calendar th {
    padding: 6px;
    border-bottom: 0px solid $border;
    border-collapse: collapse;
    border-left: 0px solid $border;
    border-right: 0px solid $border;
    border-top: 0px none #333333;
    box-sizing: border-box;
    text-align: left;
}

.simple-calendar table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #dddddd;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

.simple-calendar td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
}

.calendar-title {
  @include transition;
  cursor: pointer;
  color: $black;
  margin: 2vh 0;
  padding: 3vh 1vw;
  border-radius: $radius;
  font-weight: 400;
  letter-spacing: .125em;
  text-transform: uppercase;
}
/* ********************** HEADER ***************** */

.header-container {
  width: 100%;
  margin: 0 auto;
  background: $white;
  a {
    color: $black;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  .site-title {
    @include transition;
    display: inline-block;
    width: 24%;
    color: $white;
    font-weight: 400;
    letter-spacing: .125em;
    &:hover {
      text-decoration: none;
      color: $light;
    }
  }
  ul {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    li {
      width: 25%;
      display: inline-block;
      position: relative;
      text-align: center;
    }
  }
}

.nav-links {
  @include transition;
  cursor: pointer;
  color: $white;
  padding: 3vh 1vw;
  border-radius: $radius;
  font-weight: 400;
  letter-spacing: .125em;
  &:hover {
    color: $main;
  }
}

/* ********************** SPACING ***************** */

.padding-horizontal {
  padding-right: 2vw;
  padding-left: 2vw;
}

.padding-vertical {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.border-bottom {
  border-bottom: 1px solid $border;
}

.center {
  text-align: center;
}